.yuy{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 20px;
    padding-bottom: 20px;  
}
.footer4{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.div123{
    padding-top: 200px;
    padding-bottom: 20px;
    justify-content: center;
    justify-self: center;
}
