{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-6">
    <br>
    <h1>Welcome to Aesirs Real Estate CRM</h1>
    <p class="yuy">Your All-in-One Solution for Streamlining Real Estate Operations</p>
    <div style="box-sizing: border-box; padding:100px; border:solid; background-image:url('https://static.vecteezy.com/system/resources/previews/001/335/204/original/hand-drawn-city-skyline-sketch-background-free-vector.jpg'); background-size:cover;">
        {% if user.is_authenticated %}
            <h1 style="text-align: center;color:black;">Welcome {{ user.username }}!</h1>
            <br>
        {% endif %}
    </div>
</div>
        <h2>Records</h2>
        {% if user.is_authenticated %}
        {% if records %}
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Zip</th>
                        <th scope="col">Created at</th>
                        <th scope="col">ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records|slice:":10" %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ record.first_name }}</td>
                        <td>{{ record.last_name }}</td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.phone }}</td>
                        <td>{{ record.address }}</td>
                        <td>{{ record.city }}</td>
                        <td>{{ record.state }}</td>
                        <td>{{ record.zip }}</td>
                        <td>{{ record.created }}</td>
                        <td><a href="/records/{{record.id}}">{{ record.id }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-outline-success me-2" type="button"  onclick="window.location.href='/records'">See More</button>
            <br>
            <div class="div123">
            <footer class="footer4">
                <p>&copy; 2023 Harsh Mahajan. All rights reserved.</p>
            </footer>
        </div>
        {% else %}
         {% endif %}
         {% else %} 
            <p>No records available.</p>
        {% endif %}
{% endblock %}

