{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
<div style="box-sizing: border-box; padding:100px;width: 500px; border:solid; background-image:url('https://previews.123rf.com/images/nexusplexus/nexusplexus1309/nexusplexus130902080/22101343-background-sketch-image-with-building-plan-and-strategy.jpg'); background-size:cover;">
    <h1 style="text-align: center;color:black;">Register</h1>
    <br>
    <form  method="POST" action="">
        {% csrf_token %}
        {% if form.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  Your Form Has Errors
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
			  	{% endif %}
			  {% endfor %}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}
        {{ form.as_p }}

        <!-- <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" style="color:rgb(0, 0, 0)">Username</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Username" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" style="color:rgb(0, 0, 0)">Email</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email" required>
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Your Password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
        <br>
        <p style="background:transparent; padding-top:30px ; color:black; font-weight:bolder">Already have an account? <a href='/'>Login</a></p> -->
        <button type="submit" class="btn btn-secondary">Submit</button>
        <br>
        <p style="background:transparent; padding-top:30px ; color:black; font-weight:bolder">Already have an account? <a href='/'>Login</a></p>
    </form>

    </div>
</div>
{% endblock %}
