{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <div style="box-sizing: border-box; padding:100px;width: 500px; border:solid; background-image:url('https://previews.123rf.com/images/phonlamaiphoto/phonlamaiphoto1610/phonlamaiphoto161000927/64094984-3d-rendering-white-buildings-on-white-background.jpg'); background-size:cover;">
<h1>Add Record</h1>
<br/>

<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}

<br/>
  <button type="submit" class="btn btn-secondary">Update Record</button>
</form>
</div>
</div>
{% endblock %}